<!DOCTYPE html>
<html>
   <head>
      <title>Hello world 2020</title>
      <link rel="stylesheet" href="{{ STATIC_URL }}/static/index.css">
   </head>
   <style>
      table, th, td {
         border: 1px solid black;
         border-collapse: collapse;
      }
   </style>
   <body>
      <h1 style="font-family:georgia;">Hello world 2020</h1>
      <h2>Learning site for 
         python/django, html/css.
      </h2>
      <h3>Look at this header
         it's h3.
      </h3>
      {% load static %}
      <img src={% static "img.jpg" %} style="height:30px;">
      <p>Bullet list of elements:</p>
      <h4 style="font-size:160%;">
         <ul>
            <li>Thing 1;</li>
            <li>Thing 2;</li>
            <li>Thing 3;</li>
            <li>The last Thing.</li>
         </ul>
      </h4>
      <p>Numbered list:</p>
      <h4 style="font-size:160%;">
         <ol>
            <li>Thing 1;</li>
            <li>Thing 2;</li>
            <li>Thing 3;</li>
            <li>The last Thing.</li>
         </ol>
      </h4>
      <p>Table:</p>
      <table>
         <thead>
            <tr><h3>
               <th>Stolbique 1</th>
               <th>Stolbique 2</th>
               <th>Stolbique 3</th>
               <th>Stolbique 4</th>
               <th>Stolbique 5</th>
               <th>Stolbique 6</th>
               </h3>
            </tr>
         </thead>
         <tr>
            <td>Line 1 Column 1</td>
            <td>Line 1 Column 2</td>
            <td>Line 1 Column 3</td>
            <td>Line 1 Column 4</td>
            <td>Line 1 Column 5</td>
            <td>Line 1 Column 6</td>
         </tr>
         <tr>
            <td>Line 2 Column 1</td>
            <td>Line 2 Column 2</td>
            <td>Line 2 Column 3</td>
            <td>Line 2 Column 4</td>
            <td>Line 2 Column 5</td>
            <td>Line 2 Column 6</td>
         </tr>
         <tr>
            <td>Line 3 Column 1</td>
            <td>Line 3 Column 2</td>
            <td>Line 3 Column 3</td>
            <td>Line 3 Column 4</td>
            <td>Line 3 Column 5</td>
            <td>Line 3 Column 6</td>
         </tr>
         <tr>
            <td>Line 4 Column 1</td>
            <td>Line 4 Column 2</td>
            <td>Line 4 Column 3</td>
            <td>Line 4 Column 4</td>
            <td>Line 4 Column 5</td>
            <td>Line 4 Column 6</td>
         </tr>
         <tr>
            <td>Line 5 Column 1</td>
            <td>Line 5 Column 2</td>
            <td>Line 5 Column 3</td>
            <td>Line 5 Column 4</td>
            <td>Line 5 Column 5</td>
            <td>Line 5 Column 6</td>
         </tr>
         <tr>
            <td>Line 6 Column 1</td>
            <td>Line 6 Column 2</td>
            <td>Line 6 Column 3</td>
            <td>Line 6 Column 4</td>
            <td>Line 6 Column 5</td>
            <td>Line 6 Column 6</td>
         </tr>
         <tr>
            <td>Line 7 Column 1</td>
            <td>Line 7 Column 2</td>
            <td>Line 7 Column 3</td>
            <td>Line 7 Column 4</td>
            <td>Line 7 Column 5</td>
            <td>Line 7 Column 6</td>
         </tr>
      </table>
   </body>
</html>

