# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
lab1_db-journal
lab1_db
lab2_db
Icon?
manage.py

# OS X
.DS_Store

# JetBrains IDEA
.idea/
